@model Section1VM

@model Section2VM 


<section id="section1">
    <div class="text">
        <h2>What are you looking for</h2>
    </div>
    <form action=""> <input type="email" placeholder="Your Email Adress"><button>Subscribe</button></form>
    <ul class="list-inline">
        @*<li><a href="">Cake</a></li>
        <li><a href="">Cofee</a></li>
        <li><a href="">Pet Foods</a></li>
        <li><a href="">Vegetables</a></li>*@

        @foreach (Section1search section1 in Model.Section1Searches)
        {
            <li><a>@section1.Title</a></li>
        }
    </ul>
</section>
 
<section id="section2">
    <div class="container-fluid">
        <div class="h2 text-center mb-5 mt-5">
            <h2 class="first-h2">Trending Items</h2>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-1-5 col-12">
                @*<div class="product">
                    <div class="top">
                        <img class="img1" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-2-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2 class="prod-name">Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" href="" data-id="1">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@

                @model
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a asp-controller="Product" asp-action="index">Snack</a></div>
                        <h2 class="prod-name">Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" data-id="2" href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a asp-controller="Product" asp-action="index">Snack</a></div>
                        <h2 class="prod-name">Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" data-id="3" href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a asp-controller="Product" asp-action="index">Snack</a></div>
                        <h2 class="prod-name">Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" data-id="4" href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2 class="prod-name">Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" data-id="5" href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a class="btn-add" data-id="6" href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href=""><i class="fa-solid fa-heart"></i> <span>Add To Wishlist</span></a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="section3">
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center first-h2">Deals of the Day</h2>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section4">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 ">
                <h4>Top Selling</h4>
                <div class="product-list d-flex ">
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <h4>Top Selling</h4>
                <div class="product-list d-flex ">
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg- col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <h4>Top Selling</h4>
                <div class="product-list d-flex ">
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <h4>Top Selling</h4>
                <div class="product-list d-flex ">
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="col-lg-3 col-3 left">
                            <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg" alt="">
                        </div>
                        <div class="col-lg-9 col-9 right">
                            <h6><a href="">Nestle Original Coffee-Mate Coffee Creamer</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                            </div>
                            <div class="product-price">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>