<div class="container-fluid">
    <div class="archive-header">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h1>Snack</h1>
                <div class="crumb">
                    <a href=""><i class="fa-solid fa-house"></i>Home</a>
                    <i class="fa-solid fa-angle-right to1"></i>
                    Shop
                    <i class="fa-solid fa-angle-right to2"></i>
                    Snack
                </div>
            </div>
            <div class="col-lg-9 right">
                <ul class="d-flex justify-content-end">
                    <li><a href=""><i class="fa-solid fa-xmark"></i> Cabbage</a></li>
                    <li><a href=""><i class="fa-solid fa-xmark"></i> Brocoli</a></li>
                    <li><a href=""><i class="fa-solid fa-xmark"></i> Artichoke</a></li>
                    <li><a href=""><i class="fa-solid fa-xmark"></i> Celery</a></li>
                    <li><a href=""><i class="fa-solid fa-xmark"></i> Spinach</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>



<section id="section2">
    <div class="container-fluid">
        <div class="product-filter d-flex justify-content-between">
            <div class="left">
                <p>We found <strong class="brand">29</strong> items for you!</p>
            </div>
            <div class="right d-flex">
                <div class="sort1">
                    <span>
                        <i class="fa-solid fa-table-cells-large"></i>
                        Show:
                    </span><span>
                        50
                    </span><i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="sort2">
                    <i class="fa-solid fa-arrow-down-big-small"></i><span>
                        Sort By:
                        Featured
                    </span><i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
        </div>
        <div class="row product justify-content-between">
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 col-12">
                <div class="product">
                    <div class="top">
                        <img class="img1"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-1.jpg" alt="">
                        <img class="img2"
                             src="http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/product-1-2.jpg" alt="">
                        <div class="product-badge">
                            <span>Hot</span>
                        </div>
                        <div class="product-action">
                            <a href="">
                                <i class="fa-solid fa-heart"></i> <span>
                                    Add To
                                    Wishlist
                                </span>
                            </a>
                            <a href=""><i class="fa-solid fa-code-compare"></i><span>Compare</span></a>
                            <a href=""><i class="fa-solid fa-eye"></i><span>Quick View</span></a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="product-cate"><a href="">Snack</a></div>
                        <h2>Seeds of Change Organic Quinoe Naturel</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span>By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="section3">
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center">Deals of the Day</h2>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product">
                    <div class="product-img">
                        <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="product-countdown d-flex">
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                            <div class="product-count-box">
                                <span class="number">1133</span>
                                <span class="days">Days</span>
                            </div>
                        </div>

                        <div class="product-cate"><a href=""></a></div>
                        <h2>Seeds of Change Organic Quinoa,<br> Brown, & Red Rice</h2>
                        <div class="product-rate">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star-half star"></i>
                            <span>(4.0)</span>
                        </div>
                        <span class="product-comp">By <a href="">NestFood</a></span>

                        <div class="product-bottom d-flex align-items-center justify-content-between">
                            <div class="product-price d-flex align-items-center">
                                <span>$28.85</span>
                                <del>$32.8</del>
                            </div>
                            <div class="add-cart">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
