<div class="page-header">
    <div class="container-fluid">
        <div class="crumb">
            <a href=""><i class="fa-solid fa-house"></i>Home</a>
            <i class="fa-solid fa-angle-right to1"></i>
            Shop
            <i class="fa-solid fa-angle-right to2"></i>
            Cart
        </div>
    </div>
</div>

<div class="cart-main">
    <div class="container-fluid">
        <div class="heading">
            <h1>Your Cart</h1>
            <h6>There are <span class="count">2</span>products in your cart</h6>
        </div>
        <div class="addto-cart">
            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="tbody1">
                    <!-- <tr>
                        <td><img src="" alt=""></td>
                        <td class="product-des product-name">
                            <h6 class="mb-5"><a class="product-name" href="shop-product-right.html">Field Roast Chao
                                    Cheese
                                    Creamy Original</a></h6>
                            <div class="product-rate">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star-half star"></i>
                                <span>(4.0)</span>
                            </div>
                        </td>
                        <td>
                            <h4>
                                $2.51
                            </h4>
                        </td>
                        <td>
                            <div class="detail-extra">
                                <div class="count">
                                    <a href="" class="qty-down"><i class="fa-solid fa-angle-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="" class="qty-up"><i class="fa-solid fa-angle-up"></i></a>
                                </div>
                                <div class="add-cart">
                                    <button type="submit"><i class="fa-solid fa-cart-shopping"></i> Add To
                                        Cart</button>
                                    <a href=""><i class="fa-regular fa-heart"></i></a>
                                    <a href=""><i class="fa-solid fa-code-compare"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="text-body"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>

</div>