<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>Metin1</header>
        @RenderBody()
        <footer>Metin3</footer>
    </div>
</body>
</html>
